[submodule "claude-code-memory-bank"]
	path = claude-code-memory-bank
	url = git@github.com:hudrazine/claude-code-memory-bank.git
[submodule "memory-bank-instructions"]
	path = memory-bank-instructions
	url = git@github.com:rhysburnie/memory-bank-instructions.git
